@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.titre-logo {
  font-family: 'Permanent Marker', cursive;
}

.content-1 {
  padding: 20px 30px;
}

.small-title-1 {
  font-size: 42px;
}

.back-orange {
  background: #F7941D;
}

.item-h5 {
  font-size: 1.02rem!important;
  font-weight: 500!important;
}

.underline {
  padding-bottom: 10px;
  width: 80px;
  border-bottom: 2px solid #F7941D;

}

.item-titre {
  font-size: 26px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.item-tabs {

  .nav-link {
    display: block;
    padding: .3rem 1rem!important;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #F7941D;
    font-weight: 600!important;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }
}


.item-ol {
  ol {
    width: 100%;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
  }
  ol li {
    margin: 0 0 0.9rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
  }
  ol li::before {
    content: counter(my-awesome-counter);
    color: #F7941D;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: black;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
  }
}

.item-li {
  content: counter(my-awesome-counter);
  color: #F7941D;
  font-size: 1.5rem;
  font-weight: bold;
  --size: 32px;
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(-10deg);
  background: black;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
  margin-right: 10px;
  margin-bottom: 15px;
}

.text-1 {
  font-size: 18px;
  line-height: 35px;
  margin-top: 19px;
}

.hero-text {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.hero-slider .single-slider::after {
  content: "";
  height: auto;
  background-image: url(../../images/imgs/Baniere3.jpeg)!important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh!important;
}

.mobile {
  display: none!important;
}

.pc {
  display: block!important;
}
.col-md-3 {
  .titre-slide {
    background: #f7941d!important;
    padding: 2px 10px;
    border-radius: 5px;
    margin: 20px 0px!important;
    color: #ffffff!important;
  }
}

.module {
  width: 100%;
  height: 95vh!important;
  display: grid;
  place-items: center;
  color: #ff43ea;
  position: relative;

  h1 {
    line-height: 50px;
    font-size: 47px;
    font-weight: 700;
    color: #F7941D;
    margin-bottom: 20px; }

  span {
    font-size: 20px;
    display: block;
    margin-bottom: 12px;
    color: #333;
    font-weight: 700;
    line-height: initial; }

  p {
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    //margin-bottom: 35px;
  }
  .btn {
    color: #fff;
    background: #333;
    padding: 13px 30px;
    line-height: initial;
    border: none;
    height: auto;
    z-index: 0; }
}
.module::before {
  content: "";
  top: -5px!important;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url("../images/imgs/Baniere3.jpeg");
  background-size: 100% 100%;;
  background-repeat: no-repeat;
  filter: brightness(.7);
}
.module-inside {
  position: relative;
  font: bold 42px sans-serif;
  padding: 0px 20px;
  margin-top: -15%;
}

.item-menu-res {
  a:hover {
    font-size: 14px!important;
  }
}

.pointer-hover {
  &:hover {
    cursor: pointer!important;
  }
}


.hero-slider .hero-text h1 {
  line-height: 50px;
  font-size: 47px;
  font-weight: 700;
  color: #F7941D;
  margin-bottom: 20px; }

.hero-slider .hero-text h1 span {
  font-size: 20px;
  display: block;
  margin-bottom: 12px;
  color: #333;
  font-weight: 700;
  line-height: initial; }

.hero-slider .hero-text p {
  color: #fff!important;
  font-weight: 600;
  font-size: 17px;
  //margin-bottom: 35px;
  }

.hero-slider .hero-text .button {
  margin: 0; }

.hero-slider .hero-text .btn {
  color: #fff;
  background: #333;
  padding: 13px 30px;
  line-height: initial;
  border: none;
  height: auto;
  z-index: 0; }

.hero-slider .hero-text .btn:hover {
  background: #F7941D;
  color: #fff; }

.item-image-header-bannier {
  height: 80vh;width: 100%;object-fit: cover;filter: brightness(.8)
}

.text-orange {
  color: #F7941D!important;
}

.text-orange-1 {
  color: #F7941D;
}

.div-text {
  text-align: justify!important;
}

// tableau

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  color: white;
  font-size: 12px;
}


.table td, .table th {
  padding: .50rem;
  /* vertical-align: top; */
  border-top: 1px solid #dee2e6;
}


// fin tableau

.modal-dialog .modal-content .modal-body {
  padding: 0px!important;
  overflow-y: auto!important;
  //max-height: 510px!important;
  height: auto!important;
}


.nice-select {
  background-color: #fff;
  width: 100%!important;
}
.home-1 {
  background: #F7941D!important;
  padding: 20px 0px!important;
}

.header.shop .middle-inner {
  padding: 0px!important;
  background: #fff!important;
  border-top: 0px solid #eee!important;
}

.item-menu-res {
  display: flex;

  li {
    margin: 0px 10px;

    a:hover{
      color: #F7941D!important;
      font-size: 17px;
    }
  }
}

.titre-slide {
  font-size: 16px!important;
  font-weight: 600!important;
}

td.image img {
  width: 40px!important;
  height: 40px!important;
  border-radius: 50%!important;
  margin-top: -5px;
}

td.price {
  font-size: 13px;
 // text-align: center;
}

.btn-circle {
  height:1.8rem;width:1.8rem;font-size:.75rem;border-radius: 50%!important;
}

.back-success {
  background: #1cc88a!important;
}

.back-danger {
  background: #e74a3b!important;
}

.back-info {
  background: 4e73df!important;
}


@for $i from 1 through 250 {
  .zi-#{$i * 10} {
    z-index: $i * 10;
  }
}

@for $i from 1 through 150 {
  .lh-#{$i * 2} {
    line-height: $i * 2px;
  }
}

@for $i from 1 through 150 {
  .fsize-#{$i * 2} {
    font-size: $i * 2px !important;
  }
}

@for $i from 1 through 250 {
  .wd-#{$i * 10} {
    width: $i * 10%;
  }
}

@for $i from 1 through 250 {
  .wdpx-#{$i + 2} {
    width: $i + 2px;
  }
}

@for $i from 1 through 550 {
  .hpx-#{$i + 2} {
    height: $i + 2px;
  }
}

@for $i from 2 through 350 {
  .p-#{$i * 2} {
    padding: $i*2px;
  }
}

@for $i from 2 through 350 {
  .m-#{$i * 2} {
    margin: $i*2px;
  }
}

@for $i from 2 through 350 {
  .pt-#{$i * 2} {
    padding-top: $i*2px;
  }
}

@for $i from 2 through 350 {
  .pb-#{$i * 2} {
    padding-bottom: $i*2px;
  }
}

@for $i from 2 through 350 {
  .mb-#{$i * 2} {
    margin-bottom: $i*2px;
  }
}

@for $i from 2 through 350 {
  .mt-#{$i * 2} {
    margin-top: $i*2px;
  }
}

.tab-content {
  .btn {
    background: #F7941D!important;
    border: 1px solid #F7941D;
  }
}

.active-ordi{
  display: block;
}
.active-mobile{
  display: none;
}

/*les medias*/

@media all and (min-width: 120px) and (max-width: 289px) {

  .slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    background: transparent;
    padding-top: 15px;
    display: inline-flex!important;

    li {
      margin-right: 3px!important;
      font-size: 7px!important;
      a {
        font-size: 7px!important;
      }
    }

    li.active {
      background: #F7941D!important;
      padding: 0px 4px!important;
      border-radius: 4px!important;
      height: 37px!important;

      a {
        color: #fff!important;
        font-size: 7px!important;
      }
      }
    }
  }

@media all and (min-width: 290px) and (max-width: 363px) {

  .slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    background: transparent;
    padding-top: 15px;
    display: inline-flex!important;

    li {
      margin-right: 3px!important;
      font-size: 9px!important;
      a {
        font-size: 9px!important;
      }
    }

    li.active {
      background: #F7941D!important;
      padding: 0px 4px!important;
      border-radius: 4px!important;
      height: 37px!important;

      a {
        color: #fff!important;
        font-size: 9px!important;
      }
      }
    }
  }

@media all and (min-width: 364px) and (max-width: 580px) {

  .slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    background: transparent;
    padding-top: 15px;
    display: inline-flex!important;

    li {
      margin-right: 6px!important;
      font-size: 8px!important;

      a {
        font-size: 11px!important;
      }
    }

    li.active {
      background: #F7941D!important;
      padding: 0px 9px!important;
      border-radius: 4px!important;
      height: 37px!important;

      a {
        color: #fff!important;
        font-size: 11px!important;
      }
    }
  }
}
@media all and (min-width: 220px) and (max-width: 770px) {


  .tab-content .btn {
    width: 30px !important;
    height: 30px !important;
    padding: 5px !important;
    font-size: 15px !important;
  }

  .active-ordi{
    display: none;
  }
  .active-mobile{
    display: block;
  }

  .hero-slider {
    height: auto!important;
  }

  .item-menu-res {
    font-size: 12px!important;
  }

  .item-tabs .nav-link {
    display: block!important;
    padding: 0.2rem .4rem !important;
    font-size: 8px!important;
  }

  .header.shop .topbar {
    padding: 0!important;
  }

  .item-image-header-bannier {
    height: auto!important;
    width: 100%;
    object-fit: cover;
    filter: brightness(.8)
  }

  .header.shop .middle-inner {
    padding: 10px 0px 14px !important;
    background: #fff;
    border-top: 1px solid #eee;
  }

  .hero-slider .single-slider {
    height: auto;
    background-image: url(../../images/imgs/Baniere3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh!important;
  }

  .mobile {
    display: block!important;
  }

  .pc {
    display: none!important;
  }

  .item-titre {
    font-size: 20px;
    line-height: 20px;
    font-weight: 550;
    text-transform: uppercase;
  }

  .hero-text {
    position: absolute;
    top: 15%;
    left: 49%;
    width: 100%;
    transform: translateX(-50%);

  }

  .hero-slider .hero-text h1 {
    line-height: 46px;
    font-size: 30px;
    font-weight: 700;
    color: #F7941D;
    margin-bottom: 10px;
  }

  .hero-slider .hero-text p {
    color: #fff!important;
    font-weight: 600;
    font-size: 12px;

    .text-orange-1 {
      color: #fff!important;
    }
  }

  .hero-slider .hero-text .btn {
    color: #fff;
    background: #333;
    padding: 8px 20px;
    line-height: initial;
    border: none;
    height: auto;
    z-index: 0;
  }

  .mt-80 {
    margin-top: 40px;
  }

  .mb-80 {
    margin-bottom: 40px;
  }

  .small-title-1 {
    font-size: 37px;
  }

  .text-1 {
    font-size: 14px;
    line-height: 35px;
    margin-top: 19px;
  }

  .btn {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: #333;
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 5;
    display: inline-block;
    padding: 8px 20px!important;
    border-radius: 0px;
    text-transform: uppercase;
  }

  .section {
    padding: 30px 0px!important;
  }

  .product-img {
    text-align: center;

    .hpx-216 {
      height: auto!important;
      margin-top: 30px;
    }

    .hpx-210 {
      height: auto!important;
    }
  }

  .item-h5 {
    font-size: .9rem !important;
    font-weight: 500 !important;
  }

  .product-area .nav-tabs li a {
    padding: 3px 8px!important;
    margin-right: 3px!important;
    font-size: 10px!important;
  }


//   tableau

  .table td, .table th {
    padding: .50rem;
    /* vertical-align: top; */
    border-top: 1px solid #dee2e6;
  }

  .hero-slider .hero-text .btn {
    display: none!important;
  }

  .hero-slider .hero-text p {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
  }

  .pt-80 {
    padding-top: 20px!important;
  }

  .tel-mobile {
    display: none;
  }

  .slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    background: transparent;
    padding-top: 15px;
    display: inline-flex!important;

    li {
      margin-right: 10px!important;
      font-size: 12px!important;
    }

    li.active {
      background: #F7941D!important;
      padding: 0px 9px!important;
      border-radius: 4px!important;
      height: 37px!important;

      a {
        color: #fff!important;
      }
    }
  }

  .slicknav_nav .slicknav_arrow {
    color: #F7941D;
    display: none!important;
  }

  .slicknav_btn {
    background: transparent;
    padding: 0;
    margin: 6px 0 0;
    display: none!important;
  }

  .slicknav_menu {
    display: block;
    background: transparent;
    padding: 0;
    margin-top: -13px!important;
  }

  .div-text {
    padding: 5px 15px!important;
    text-align: justify!important;
  }

  .class-table {
    width:100%; position:relative; overflow:scroll!important;
  }

}

@media all and (min-width: 771px) and (max-width: 900px) {
  .titre-slide {
    font-size: 13px !important;
    font-weight: 600 !important;
  }
}

@media only screen and (max-width: 450px){

  .hero-slider .hero-text {
    margin-top: 40px;
  }
}
