@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.titre-logo {
  font-family: 'Permanent Marker', cursive;
}

.content-1 {
  padding: 20px 30px;
}

.small-title-1 {
  font-size: 42px;
}

.text-1 {
  font-size: 18px;
  line-height: 35px;
  margin-top: 19px;
}

.hero-text-2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}


.hero-slider .hero-text-2 h1 {
  line-height: 50px;
  font-size: 47px;
  font-weight: 700;
  color: #F7941D;
  margin-bottom: 20px; }

.hero-slider .hero-text-2 h1 span {
  font-size: 20px;
  display: block;
  margin-bottom: 12px;
  color: #333;
  font-weight: 700;
  line-height: initial; }

.hero-slider .hero-text-2 p {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  //margin-bottom: 35px;
  }

.hero-slider .hero-text-2 .button {
  margin: 0; }

.hero-slider .hero-text-2 .btn {
  color: #fff;
  background: #333;
  padding: 13px 30px;
  line-height: initial;
  border: none;
  height: auto;
  z-index: 0; }

.hero-slider .hero-text-2 .btn:hover {
  background: #F7941D;
  color: #fff; }


.text-orange {
  color: #F7941D!important;
}

.home-1 {
  background: #F7941D!important;
  padding: 20px 0px!important;
}

.item-menu-res {
  display: flex;

  li {
    margin: 0px 10px;

    a:hover{
      color: #F7941D!important;
      font-size: 17px;
    }
  }
}

.titre-slide {
  font-size: 16px!important;
  font-weight: 600!important;
}


@for $i from 1 through 250 {
  .zi-#{$i * 10} {
    z-index: $i * 10;
  }
}

@for $i from 1 through 150 {
  .lh-#{$i * 2} {
    line-height: $i * 2px;
  }
}

@for $i from 1 through 150 {
  .fsize-#{$i * 2} {
    font-size: $i * 2px !important;
  }
}

@for $i from 1 through 250 {
  .wd-#{$i * 10} {
    width: $i * 10%;
  }
}

@for $i from 1 through 250 {
  .wdpx-#{$i + 2} {
    width: $i + 2px;
  }
}

@for $i from 1 through 550 {
  .hpx-#{$i + 2} {
    height: $i + 2px;
  }
}

@for $i from 2 through 350 {
  .p-#{$i * 2} {
    padding: $i*2px;
  }
}

@for $i from 2 through 350 {
  .m-#{$i * 2} {
    margin: $i*2px;
  }
}

@for $i from 2 through 350 {
  .pt-#{$i * 2} {
    padding-top: $i*2px;
  }
}

@for $i from 2 through 350 {
  .pb-#{$i * 2} {
    padding-bottom: $i*2px;
  }
}

@for $i from 2 through 350 {
  .mb-#{$i * 2} {
    margin-bottom: $i*2px;
  }
}

@for $i from 2 through 350 {
  .mt-#{$i * 2} {
    margin-top: $i*2px;
  }
}

